Babel==0.9.6
BeautifulSoup==3.2.1
CherryPy==3.2.2
ClientForm==0.2.10
Cython==0.19.1
FuncDesigner==0.5115
Genshi==0.6
PIL==1.1.7
Pygments==1.5
cpuset==1.5.6
cssselect==0.7.1
cssutils==0.9.9
cupshelpers==1.0
cvxopt==1.1.6
dblatex==0.3.3
distribute==0.6.31
dnspython==1.10.0
inspyred==1.0
ipcalc==0.1
ipython==0.13.1
java-gcj-compat==1.0.76
keyring==0.9.1
lxml==2.3.4
## FIXME: could not find svn URL in dependency_links for this package:
matplotlib==1.3.0-r0
mechanize==0.2.5
mercurial==2.4.2
mod-python==3.3.1
netifaces==0.8
numpy==1.7.1
odfpy==0.9.3
openopt==0.5115
paramiko==1.11.0
pyPdf==1.13
pyShipping==1.7
pychecker==0.8.19
pycrypto==2.6
pycups==1.9.61
pycurl==7.19.0
pygobject==3.4.2
pyparsing==2.0.1
pysmbc==1.0.13
python-bibtex==1.2.5
python-dateutil==2.1
python-pexpect==2.3
pytz==2012c
pyudev==0.16.1
pyxdg==0.25
pyzmq==13.0.0
rubber==1.1
scipy==0.12.0
setproctitle==1.1.7
simplejson==3.0.5
six==1.2.0
stevedore==0.11
sympy==0.7.1
synaptiks==0.8.1
tornado==2.4.1
urlgrabber==3.9.1
vboxapi==1.0
vboxgtk==0.8.2
virtinst==0.600.3
virtualenv==1.10
virtualenv-clone==0.2.4
virtualenvwrapper==4.0
wsgiref==0.1.2
